################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RomanNumeral/.vs/RomanNumeral/v16
